:root {
    --white: #ffffff;
    --beige: #D9C9A6;
    --black: black;
    --gray: #cccccc;
    --brown: #8B4513;
    --dark-green: #004d00;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white); /* White background */
    margin: 0;
}

header {
    background-color: var(--beige);
    top: 0;
    height: 40px;
    width: 100%;
    text-align: center;
}

header a {
    padding: 5px 50px;
    text-decoration: none;
    color: var(--brown);
    font-size: 2em;
}

header a:hover {
    color: var(--dark-green);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--beige);
    padding: 10px;
}

nav img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: none; /* Hidden by default */
    flex-direction: row; /* Stack links vertically for simplicity */
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--black);
}

.toggle-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

.toggle-btn:hover {
    background-color: #777;
}

main {
    text-align: center;
    min-height: calc(100vh - 100px);
}

#search {
    width: 50vmin;
    margin-top: 5vmin;
    font-size: 2em;
}

#search-btn {
    font-size: 2em;
}

.intro {
    margin: 3vmin auto;
    max-width: 80%;
    font-size: 1.2em;
}

.country-flex {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    gap: 5vmin;
    opacity: 0; /* Ensure initial opacity is 0 */
    transition: opacity 1s ease-in-out; /* Smooth transition */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.country-flex.loaded {
    opacity: 1;
    animation: fadeIn 1s forwards; /* Trigger fade-in animation */
}

.country-card {
    max-width: 30%;
    background-color: var(--beige);
    border-radius: 15px;
    padding: 5vmin;
    text-align: center;
}

.country-card img {
    width: 25vmin;
}

.country-card:hover {
    filter: brightness(50%);
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-left: 5vmin;
    width: 30%;
    gap: 20px;
}
